hold/mem.c
hold/string.c

qemu.log
qemu_stdout.txt

build/kernel/arch/i386/apic.o
build/kernel/arch/i386/context.o
build/kernel/arch/i386/gdt.o
build/kernel/arch/i386/idt.o
build/kernel/arch/i386/ioapic.o
build/kernel/arch/i386/lapic.o
build/kernel/arch/i386/pic.o
build/kernel/arch/i386/pit.o
build/kernel/arch/i386/tss.o
build/kernel/arch/i386/asm/i386trampoline.o
build/kernel/arch/i386/asm/i386usermode.o
build/kernel/core/init.o
build/kernel/core/kernel.o
build/kernel/core/kinit.o
build/kernel/core/main.o
build/kernel/core/syscall.o
build/kernel/core/uinit.o
build/kernel/drivers/input.o
build/kernel/drivers/keyboard.o
build/kernel/drivers/log.o
build/kernel/drivers/ata/ata.o
build/kernel/elf/elf.o
build/kernel/fs/blockdev.o
build/kernel/fs/mount.o
build/kernel/fs/ext2/ext2.o
build/kernel/fs/ft/elf.o
build/kernel/fs/ft/tar.o
build/kernel/fs/ramfs/ramfs.o
build/kernel/fs/ramfs/tar.o
build/kernel/fs/vfs/vfs.o
build/kernel/hw/ata.o
build/kernel/hw/pci.o
build/kernel/hw/pcie.o
build/kernel/ipc/ipc.o
build/kernel/libk/mem.o
build/kernel/libk/printf.o
build/kernel/libk/string.o
build/kernel/mm/heap.o
build/kernel/mm/paging.o
build/kernel/mm/pmm.o
build/kernel/net/arp.o
build/kernel/net/checksum.o
build/kernel/net/dev.o
build/kernel/net/e1000.o
build/kernel/net/ethernet.o
build/kernel/net/ipv4.o
build/kernel/net/loopback.o
build/kernel/net/net.o
build/kernel/net/nic.o
build/kernel/net/packet.o
build/kernel/net/socket.o
build/kernel/net/tcp.o
build/kernel/net/udp.o
build/kernel/proc/exec.o
build/kernel/proc/proc.o
build/kernel/sched/queue.o
build/kernel/sched/sched.o
build/kernel/sched/thread.o
build/kernel/smp/cpu.o
build/kernel/smp/ipi.o
build/kernel/smp/smp.o
build/kernel/user/init_elf.o
build/kernel/user/init_tar.o
build/kernel/utils/printf.o
build/kernel/utils/asm/math.o
build/kernel/utils/asm/mem.o
build/kernel/utils/asm/string.o
